<extend name="Public:_template" />
<block name="css">
</block>
<block name="content">
		<table class="table table-border table-bordered radius">
            <thead>
              <tr>
                <th>账号</th>
                <th>简历</th>
                <th>投递时间</th>
              </tr>
            </thead>
            <tbody>
	            <php>foreach($datas as $d=>$v){</php>
	              <tr>
	                <th>{$v.account_name}</th>
	                <td><a href="{$v.resume}" target="_blank">点击查看</a></td>
	                <td>{$v.add_time}</td>
	              </tr>
	             <php>}</php>
          </table>
</block>
<block name="js">
</block>