.chou_nav_ul{height: 40px;margin-top: 45px;border-bottom: 2px solid #d6d6d6;}
.chou_nav_ul li{width: 230px;height: 40px;line-height: 40px;color: #828282;text-align: center;float: left;font-weight: bold;padding-left: 10px;cursor: pointer;}
.chou_nav_ul li:hover{width: 230px;height: 40px;line-height: 40px;color: #01a590;line-height: 40px;text-align: center;border-bottom: 2px solid #01a590;cursor: pointer;}
.chou_nav_ul li.active{width: 230px;height: 40px;line-height: 40px;color: #01a590;font-weight: bold;line-height: 40px;text-align: center;border-bottom: 2px solid #01a590;}

/*项目资料*/
.content{height:1100px;margin-left: 40px;display: none;}
.content_one,.content_two,.content_for{height: 45px;}
.content_margin{margin-top: 30px;}
.content_one_span{line-height: 45px;}
.input_xm,.input_xm_three,.input_xmgz,.input_peo,.input_dao,.input_wen,.input_xm_money{margin-left: 10px;}
.content_one .input_xm input{width: 354px;height: 30px;border-radius: 5px;border: 1px solid #b9b9b9;outline: none;padding: 5px 5px;}
.content_two .input_xm input{width: 260px;height: 30px;border-radius: 5px;border: 1px solid #b9b9b9;outline: none;padding: 5px 5px;}
.upup{margin-top: 15px;}
.upup input{width: 75px;height: 40px;background: #01a590;}
.a-upload {width: 74px;height: 40px;text-align: center;line-height: 40px;position: relative;cursor: pointer;color: #fff;background: #01a590;border-radius: 4px; overflow: hidden;display: inline-block;*display: inline;*zoom: 1;margin-left: 20px;}
.a-upload  input {position: absolute;font-size: 100px;right: 0;top: 0;opacity: 0;filter: alpha(opacity=0);cursor: pointer;outline: none;}

.input_xm_text{width: 370px;height: 105px;margin-left: 10px;border-radius: 5px;border: 1px solid #b9b9b9;overflow: hidden;}
.input_xm_text textarea{width: 360px;height: 95px;border: none;background: none;outline: none;padding: 5px 5px;resize: none;}


.content_three{height: 110px;}
.input_xm_three{width: 355px;height: 45px;border-radius: 5px;border: 1px solid #b9b9b9; overflow: hidden;}
.input_xm_three select{border: none;}
.select{width: 370px;height: 45px;outline: none;padding: 5px 5px;background: url('../images/bianji_biao.png') no-repeat 95% 1px;}
.select option{width: 355px;height: 40px;line-height: 40px;}

.content_for .input_xmgz{width: 195px;height: 40px;border-radius: 5px;border: 1px solid #b9b9b9;overflow: hidden;}
.content_for .input_xmgz input{width: 140px;height: 30px;outline: none;padding: 5px 5px;border: none;background: none;}
.content_for .input_xmgz p{width: 455px;height: 30px;outline: none;padding: 5px 5px;}
.word{line-height: 40px;margin-left: 10px;color: #848484;font-size: 14px;}
.word_02{line-height: 20px;margin-left: 10px;font-size: 14px;width: 65%;color: #848484;}
/*项目资料结束*/

/*金额设置*/
.input_xm_money{width: 155px;height: 45px;border-radius: 5px;border: 1px solid #b9b9b9; overflow: hidden;}
.input_xm_money select{border: none;}
.select_money{width: 170px;height: 45px;outline: none;padding: 5px 5px;background: url('../images/bianji_biao.png') no-repeat 87% 1px;}
.select_money option{width: 155px;height: 40px;line-height: 40px;}
/*商业模式*/
.business_model{height: 200px;}
.business_model_video{width: 300px;height: 200px;margin-left: 10px;background: url('../images/chou_list_bg.jpg') no-repeat;background-size:cover ;background-position: center center;border: 1px solid #b9b9b9;}
.business_model_video video{background: #eee;}
.time{color: #FF0000;}
/*商业模式结束*/
/*项目团队*/
.content_one .input_xm_peo input{width: 350px;height: 30px;border-radius: 5px;border: 1px solid #b9b9b9;outline: none;padding: 5px 5px;}
.input_xm_dao input{width: 335px;height: 30px;border-radius: 5px;border: 1px solid #b9b9b9;outline: none;padding: 5px 5px;}
.input_xm_wen input{width: 305px;height: 30px;border-radius: 5px;border: 1px solid #b9b9b9;outline: none;padding: 5px 5px;}
/*项目团队结束*/

/*附件资料*/
.upup_fj{padding-top: 10px;margin-left: 10px;}
.content_one_fj{height: 140px;}
/*附件资料结束*/
.Editor_name_btn{width: 350px;height:45px;margin:100px auto;font-size: 23px;}
.Editor_name_btn a{display: block;float: left;width: 155px;height: 40px;line-height: 40px;border: 1px solid #01A590;color: #01A590;text-align: center;}
.Editor_name_btn button{display: block;float: left;width: 155px;height: 42px;line-height: 42px;background: #FF0000;color: #fff;text-align: center;border: none;outline: none;margin-left: 33px;font-size: 23px;}
.Editor_name_btn span{display: block;float: left;width: 155px;height: 42px;line-height: 42px;background: #FF0000;color: #fff;text-align: center;border: none;outline: none;margin-left: 33px;font-size: 23px;}
/*地点*/
.top{ margin:5px auto; color:#990000;}
.s_province{width: 150px;height: 45px; border:1px #b9b9b9 solid;overflow: hidden;float: left;margin-right: 13px;border-radius: 5px;}
.info select{width: 162px;height: 45px;outline: none;padding: 5px 5px;border: none;background: url('../images/bianji_biao.png') no-repeat 89% 1px;}
.s_province option{width: 165px;height: 40px;line-height: 40px;}
.info{ margin:5px; text-align:center;}
.info #show{ color:#3399FF; }
.bottom{ text-align:right; font-size:12px; color:#CCCCCC; width:1000px;}


/*添加*/
.work_life{width: 45px;height: 45px;}
.work_life select{width: 65px;height: 45px;outline: none;padding: 5px 5px;border: none;}
.work_life select option{width: 65px;height: 45px;line-height: 45px;}
.ncial_advisor{width: 115px;height: 40px;border:1px #b9b9b9 solid;border-radius: 5px;margin-left: 10px;}
.ncial_advisor input{width: 100px;height: 28px;padding: 5px 5px;border: none;background: none;outline: none;}
.ncial_advisor_p{color: #FF0000;margin-left: 15px;line-height: 40px;}
