<extend name="Public:_template" />
<block name="css">
<style type="text/css">
    .select-box {
        width:inherit;
        }
   .pd-20 {
    text-align: center
    }
</style>
</block>
<block name="content">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 众筹管理 <span class="c-gray en">&gt;</span> 众筹列表 <a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20" >
    <div class="text-c">
	    <span class="select-box">
		  <select class="select" size="1" id="publish_status">
		    <php>$publishStatuses = _getProPublishStatus();</php>
		    <php>foreach($publishStatuses as $k=>$v){</php>
		          <option value="{$k}"
		              <php>if($k == 0){</php>
		                      selected
		              <php>}</php>		          
		          >{$v}</option>
		    <php>}</php>
		  </select>
        </span>
		<input type="text" class="input-text" style="width:250px" placeholder="项目名称、资料介绍、地点" id="key" name="key">
		<button type="submit" class="btn btn-success radius" id="btnSearch" name="btnSearch"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
	</div>
	<div class="mt-20">
	<table id="example"  class="table table-border table-bordered table-hover table-bg table-sort">
	</table>
	</div>
</div>
</block>
<block name="js">
<script type="text/javascript" src="__PUBLIC__/lib/laypage/1.2/laypage.js"></script> 
<script type="text/javascript" src="__PUBLIC__/lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="__PUBLIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$(function () {
    //提示信息
    var lang = {
        "sProcessing": "处理中...",
        "sLengthMenu": "每页 _MENU_ 项",
        "sZeroRecords": "没有匹配结果",
        "sInfo": "当前显示第 _START_ 至 _END_ 项，共 _TOTAL_ 项。",
        "sInfoEmpty": "当前显示第 0 至 0 项，共 0 项",
        "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
        "sInfoPostFix": "",
        "sSearch": "搜索:",
        "sUrl": "",
        "sEmptyTable": "表中数据为空",
        "sLoadingRecords": "载入中...",
        "sInfoThousands": ",",
        "oPaginate": {
            "sFirst": "首页",
            "sPrevious": "上页",
            "sNext": "下页",
            "sLast": "末页",
            "sJump": "跳转"
        },
        "oAria": {
            "sSortAscending": ": 以升序排列此列",
            "sSortDescending": ": 以降序排列此列"
        }
    };

    //初始化表格
    var table = $("#example").dataTable({
        language:lang,  //提示信息
        autoWidth: false,  //禁用自动调整列宽
        stripeClasses: ["odd", "even"],  //为奇偶行加上样式，兼容不支持CSS伪类的场合
        processing: true,  //隐藏加载提示,自行处理
        serverSide: true,  //启用服务器端分页
        searching: false,  //禁用原生搜索
        orderMulti: false,  //启用多列排序
        ordering:false,
        order: [],  //取消默认排序查询,否则复选框一列会出现小箭头
        renderer: "bootstrap",  //渲染样式：Bootstrap和jquery-ui
        pagingType: "simple_numbers",  //分页样式：simple,simple_numbers,full,full_numbers
        columnDefs: [
        	{
            	"targets": 'nosort',  //列的样式名
            	"orderable": false    //包含上样式名‘nosort’的禁止排序
        	}
        ],
        aLengthMenu : [10,20, 40, 60], //更改显示记录数选项 
        ajax: function (data, callback, settings) {
            //封装请求参数
            var param = {};
            param.limit = data.length;//页面显示记录条数，在页面显示每页显示多少项的时候
            param.start = data.start;//开始的记录序号
            param.page = (data.start / data.length)+1;//当前页码
            param.key = $("#key").val();
            param.publish_status = $("#publish_status").val();
            //console.log(param);
            //ajax请求数据
            $.ajax({
                type: "GET",
                url: "{:U('project/search')}",
                cache: false,  //禁用缓存
                data: param,  //传入组装的参数
                dataType: "json",
                success: function (result) {
                    //console.log(result);
                    //setTimeout仅为测试延迟效果
                    setTimeout(function () {
                        //封装返回数据
                        var returnData = {};
                        returnData.draw = data.draw;//这里直接自行返回了draw计数器,应该由后台返回
                        returnData.recordsTotal = result.total;//返回数据全部记录
                        returnData.recordsFiltered = result.total;//后台不实现过滤功能，每次查询均视作全部结果
                        returnData.data = result.data;//返回的数据列表
                        //console.log(returnData);
                        //调用DataTables提供的callback方法，代表数据已封装完成并传回DataTables进行渲染
                        //此时的数据需确保正确无误，异常判断应在执行此回调前自行处理完毕
                        callback(returnData);
                    }, 200);
                }
            });
        },
        //列表表头字段
        columns: [
            { "data": "id","title":"ID"},
            { "data": "pro_name","title":"项目名称",
                "render": function ( data, type, full, meta ) {  
                    return '<u style="cursor:pointer" class="text-primary" onclick="detail(\'众筹明细\',\'{:U('project/detail')}?id='+full.id+'\',1000,800)">'+data+'</u>';  
                }   
            },
            { "data": "pro_content" ,"title":"资料介绍"},
            { "data": "user_info.nickname" ,"title":"昵称"},
            { "data": "pro_stage_txt" ,"title":"项目阶段"},
            { "data": "pro_state_txt" ,"title":"项目状态"},
            { "data": "pro_type_txt" ,"title":"项目类型"},
            { "data": "pro_address" ,"title":"地点"},
            { "data": "pro_valuation" ,"title":"项目估值",
                "render": function ( data, type, full, meta ) {  
                    return data + "万元";
                    }   
                },
            { "data": "extend.pro_datetime" ,"title":"创建时间"},
            { "data": "pro_publish_status_txt" ,"title":"发布状态","align":"center",
                "render": function ( data, type, full, meta ) {  
                  var lableClass = 'label-warning';
                	switch(full.pro_publish_status){
                  //case 0:
                  case 2:
                  case "2":
                	    lableClass = "label-success";
                	    break;
                  case 3:
                  case "3":
                	    lableClass = "label-danger";
                	    break;
                	    }
                  return '<span class="label '+lableClass+' radius">'+data+'</span>';
                    }   
                },
            { "data": "extend.pro_id", "title":"操作",
                "render": function ( data, type, full, meta ) {  
                    return '<a style="text-decoration:none" onclick="audit(\'众筹明细\',\'{:U('project/audit')}?id='+full.id+'\',600,400)" href="javascript:;" title="审核">审核</a>';
                }   
            }
        ]
    }).api();
    //此处需调用api()方法,否则返回的是JQuery对象而不是DataTables的API对象
    
    $("button[name='btnSearch']").bind("click", function () { //按钮 触发table重新请求服务器
        table.draw();
    });
});

function detail(title,url,w,h){
    layer_show(title,url,w,h);
}

function audit(title,url,w,h){
    layer_show(title,url,w,h);
}

</script>
</script>
</block>